<a href="https://colab.research.google.com/github/FrkAk/Deep_Learning_Workshop/blob/master/Workshop/Default_Payment_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

## Upload and Preview the Dataset

In [49]:
data = pd.read_csv(
    "dataset.csv",skiprows=1,
    names=["LIMIT_BAL",	"SEX",	"EDUCATION",	"MARRIAGE",	"AGE",	
           "PAY_0",	"PAY_2",	"PAY_3",	"PAY_4"	,"PAY_5",	"PAY_6",
           "BILL_AMT1",	"BILL_AMT2",	"BILL_AMT3",	"BILL_AMT4",	"BILL_AMT5",	"BILL_AMT6",
           "PAY_AMT1",	"PAY_AMT2",	"PAY_AMT3",	"PAY_AMT4",	"PAY_AMT5",	"PAY_AMT6",
           "default.payment.next.month"])

data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
1,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

## Split the Dataset

In [50]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.2)
train.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
28397,170000.0,2,2,1,31,-1,0,0,0,0,...,63000.0,0.0,0.0,5000.0,5000.0,4000.0,0.0,0.0,3300.0,0
24673,20000.0,1,2,2,43,0,0,2,0,0,...,16862.0,17197.0,17558.0,1815.0,1000.0,1279.0,614.0,637.0,2350.0,1
26246,130000.0,2,2,2,30,0,0,0,0,0,...,84132.0,79043.0,78205.0,4224.0,4415.0,3600.0,5800.0,2000.0,2005.0,0
12211,80000.0,2,2,1,39,0,0,0,0,0,...,29629.0,28241.0,28030.0,1560.0,1421.0,1001.0,1000.0,1008.0,964.0,0
8065,20000.0,2,2,1,51,-1,-1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0

### Extract Labels

In [51]:
train_features = train.copy()
train_labels = train.pop('default.payment.next.month')

test_features = test.copy()
test_labels = test.pop('default.payment.next.month')

### Convert to NumPy array

In [ ]:
train_features = np.array(train_features)
test_features = np.array(test_features)

## Model Structure

In [66]:
model = tf.keras.Sequential([
  layers.Conv1D(filters=64, kernel_size=3,
                strides=1,
                activation="relu",
                padding='causal',
                input_shape=[24, 1]),
  layers.Dense(128,activation='relu'),
  layers.Dense(64,activation='relu'),
  layers.Dense(32,activation='relu'),
  layers.Dense(16,activation='relu'),
  layers.Dense(1,activation='sigmoid')
])
model.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_3 (Conv1D)           (None, 24, 64)            256

 dense_44 (Dense)            (None, 24, 128)           8320

 dense_45 (Dense)            (None, 24, 64)            8256

 dense_46 (Dense)            (None, 24, 32)            2080

 dense_47 (Dense)            (None, 24, 16)            528

 dense_48 (Dense)            (None, 24, 1)             17

=================================================================
Total params: 19,457
Trainable params: 19,457
Non-trainable params: 0
_________________________________________________________________

## Tune the Learning Rate

It is needed to pick an optimal learning rate.

In [ ]:
# Get initial weights
init_weights = model.get_weights()

In [68]:
# Set the learning rate scheduler
lr_schedule = tf.keras.callbacks.LearningRateScheduler(
    lambda epoch: 1e-8 * 10**(epoch / 20))

# Initialize the optimizer
optimizer = tf.keras.optimizers.Adam()

# Set the training parameters
model.compile(loss = tf.keras.losses.BinaryCrossentropy(),
                  optimizer = optimizer,metrics=['accuracy'])

# Train the model
history = model.fit(train_features,train_labels, epochs=20, callbacks=[lr_schedule])

Epoch 1/100
750/750 [==============================] - 15s 12ms/step - loss: 2.2043 - accuracy: 0.7765 - lr: 1.0000e-08
Epoch 2/100
750/750 [==============================] - 7s 10ms/step - loss: 2.2037 - accuracy: 0.7765 - lr: 1.1220e-08
Epoch 3/100
750/750 [==============================] - 7s 10ms/step - loss: 2.2031 - accuracy: 0.7764 - lr: 1.2589e-08
Epoch 4/100
750/750 [==============================] - 5s 7ms/step - loss: 2.2025 - accuracy: 0.7764 - lr: 1.4125e-08
Epoch 5/100
750/750 [==============================] - 5s 7ms/step - loss: 2.2018 - accuracy: 0.7764 - lr: 1.5849e-08
Epoch 6/100
750/750 [==============================] - 5s 7ms/step - loss: 2.2010 - accuracy: 0.7764 - lr: 1.7783e-08
Epoch 7/100
750/750 [==============================] - 5s 7ms/step - loss: 2.2001 - accuracy: 0.7763 - lr: 1.9953e-08
Epoch 8/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1993 - accuracy: 0.7763 - lr: 2.2387e-08
Epoch 9/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1982 - accuracy: 0.7763 - lr: 2.5119e-08
Epoch 10/100
750/750 [==============================] - 6s 8ms/step - loss: 2.1971 - accuracy: 0.7763 - lr: 2.8184e-08
Epoch 11/100
750/750 [==============================] - 7s 9ms/step - loss: 2.1958 - accuracy: 0.7762 - lr: 3.1623e-08
Epoch 12/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1943 - accuracy: 0.7762 - lr: 3.5481e-08
Epoch 13/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1926 - accuracy: 0.7762 - lr: 3.9811e-08
Epoch 14/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1907 - accuracy: 0.7761 - lr: 4.4668e-08
Epoch 15/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1886 - accuracy: 0.7761 - lr: 5.0119e-08
Epoch 16/100
750/750 [==============================] - 7s 9ms/step - loss: 2.1860 - accuracy: 0.7761 - lr: 5.6234e-08
Epoch 17/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1830 - accuracy: 0.7764 - lr: 6.3096e-08
Epoch 18/100
750/750 [==============================] - 5s 7ms/step - loss: 2.1794 - accuracy: 0.7767 - lr: 7.0795e-08
Epoch 19/100
750/750 [==============================] - 7s 9ms/step - loss: 2.1748 - accuracy: 0.7766 - lr: 7.9433e-08
Epoch 20/100
750/750 [==============================] - 7s 9ms/step - loss: 2.1687 - accuracy: 0.7766 - lr: 8.9125e-08
Epoch 21/100
750/750 [==============================] - 9s 12ms/step - loss: 2.1615 - accuracy: 0.7763 - lr: 1.0000e-07
Epoch 22/100
750/750 [==============================] - 8s 11ms/step - loss: 2.1525 - accuracy: 0.7760 - lr: 1.1220e-07
Epoch 23/100
750/750 [==============================] - 7s 10ms/step - loss: 2.1415 - accuracy: 0.7756 - lr: 1.2589e-07
Epoch 24/100
750/750 [==============================] - 8s 11ms/step - loss: 2.1289 - accuracy: 0.7750 - lr: 1.4125e-07
Epoch 25/100
750/750 [==============================] - 6s 9ms/step - loss: 2.1126 - accuracy: 0.7745 - lr: 1.5849e-07
Epoch 26/100
750/750 [==============================] - 5s 7ms/step - loss: 2.0611 - accuracy: 0.7703 - lr: 1.7783e-07
Epoch 27/100
750/750 [==============================] - 5s 7ms/step - loss: 2.0392 - accuracy: 0.7719 - lr: 1.9953e-07
Epoch 28/100
750/750 [==============================] - 5s 7ms/step - loss: 2.0250 - accuracy: 0.7727 - lr: 2.2387e-07
Epoch 29/100
750/750 [==============================] - 5s 7ms/step - loss: 2.0111 - accuracy: 0.7736 - lr: 2.5119e-07
Epoch 30/100
750/750 [==============================] - 5s 7ms/step - loss: 1.9953 - accuracy: 0.7739 - lr: 2.8184e-07
Epoch 31/100
750/750 [==============================] - 5s 7ms/step - loss: 1.9760 - accuracy: 0.7738 - lr: 3.1623e-07
Epoch 32/100
750/750 [==============================] - 6s 8ms/step - loss: 1.9493 - accuracy: 0.7737 - lr: 3.5481e-07
Epoch 33/100
750/750 [==============================] - 7s 9ms/step - loss: 1.8382 - accuracy: 0.7674 - lr: 3.9811e-07
Epoch 34/100
750/750 [==============================] - 5s 7ms/step - loss: 1.7855 - accuracy: 0.7667 - lr: 4.4668e-07
Epoch 35/100
750/750 [==============================] - 5s 7ms/step - loss: 1.7623 - accuracy: 0.7670 - lr: 5.0119e-07
Epoch 36/100
750/750 [==============================] - 5s 7ms/step - loss: 1.7382 - accuracy: 0.7667 - lr: 5.6234e-07
Epoch 37/100
750/750 [==============================] - 6s 8ms/step - loss: 1.6321 - accuracy: 0.7661 - lr: 6.3096e-07
Epoch 38/100
750/750 [==============================] - 6s 8ms/step - loss: 1.5692 - accuracy: 0.7662 - lr: 7.0795e-07
Epoch 39/100
750/750 [==============================] - 5s 7ms/step - loss: 1.5202 - accuracy: 0.7654 - lr: 7.9433e-07
Epoch 40/100
750/750 [==============================] - 6s 7ms/step - loss: 1.4834 - accuracy: 0.7648 - lr: 8.9125e-07
Epoch 41/100
750/750 [==============================] - 6s 8ms/step - loss: 1.4403 - accuracy: 0.7649 - lr: 1.0000e-06
Epoch 42/100
750/750 [==============================] - 5s 7ms/step - loss: 1.2650 - accuracy: 0.7636 - lr: 1.1220e-06
Epoch 43/100
750/750 [==============================] - 5s 7ms/step - loss: 1.0483 - accuracy: 0.7635 - lr: 1.2589e-06
Epoch 44/100
750/750 [==============================] - 5s 7ms/step - loss: 0.9715 - accuracy: 0.7621 - lr: 1.4125e-06
Epoch 45/100
750/750 [==============================] - 5s 7ms/step - loss: 0.9392 - accuracy: 0.7646 - lr: 1.5849e-06
Epoch 46/100
750/750 [==============================] - 5s 7ms/step - loss: 0.9301 - accuracy: 0.7647 - lr: 1.7783e-06
Epoch 47/100
750/750 [==============================] - 5s 7ms/step - loss: 0.9183 - accuracy: 0.7646 - lr: 1.9953e-06
Epoch 48/100
750/750 [==============================] - 5s 7ms/step - loss: 0.9065 - accuracy: 0.7645 - lr: 2.2387e-06
Epoch 49/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8930 - accuracy: 0.7624 - lr: 2.5119e-06
Epoch 50/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8731 - accuracy: 0.7622 - lr: 2.8184e-06
Epoch 51/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8579 - accuracy: 0.7629 - lr: 3.1623e-06
Epoch 52/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8557 - accuracy: 0.7617 - lr: 3.5481e-06
Epoch 53/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8454 - accuracy: 0.7622 - lr: 3.9811e-06
Epoch 54/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8438 - accuracy: 0.7604 - lr: 4.4668e-06
Epoch 55/100
750/750 [==============================] - 9s 12ms/step - loss: 0.8338 - accuracy: 0.7604 - lr: 5.0119e-06
Epoch 56/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8174 - accuracy: 0.7616 - lr: 5.6234e-06
Epoch 57/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8106 - accuracy: 0.7608 - lr: 6.3096e-06
Epoch 58/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8056 - accuracy: 0.7595 - lr: 7.0795e-06
Epoch 59/100
750/750 [==============================] - 8s 10ms/step - loss: 0.7928 - accuracy: 0.7589 - lr: 7.9433e-06
Epoch 60/100
750/750 [==============================] - 6s 7ms/step - loss: 0.8046 - accuracy: 0.7576 - lr: 8.9125e-06
Epoch 61/100
750/750 [==============================] - 5s 7ms/step - loss: 0.7717 - accuracy: 0.7573 - lr: 1.0000e-05
Epoch 62/100
750/750 [==============================] - 7s 9ms/step - loss: 0.7694 - accuracy: 0.7565 - lr: 1.1220e-05
Epoch 63/100
750/750 [==============================] - 5s 7ms/step - loss: 0.7612 - accuracy: 0.7567 - lr: 1.2589e-05
Epoch 64/100
750/750 [==============================] - 8s 11ms/step - loss: 0.7875 - accuracy: 0.7562 - lr: 1.4125e-05
Epoch 65/100
750/750 [==============================] - 9s 12ms/step - loss: 0.8068 - accuracy: 0.7559 - lr: 1.5849e-05
Epoch 66/100
750/750 [==============================] - 7s 9ms/step - loss: 0.8578 - accuracy: 0.7573 - lr: 1.7783e-05
Epoch 67/100
750/750 [==============================] - 8s 11ms/step - loss: 0.8517 - accuracy: 0.7570 - lr: 1.9953e-05
Epoch 68/100
750/750 [==============================] - 5s 7ms/step - loss: 0.8782 - accuracy: 0.7573 - lr: 2.2387e-05
Epoch 69/100
750/750 [==============================] - 6s 8ms/step - loss: 0.8941 - accuracy: 0.7574 - lr: 2.5119e-05
Epoch 70/100
750/750 [==============================] - 6s 8ms/step - loss: 0.9545 - accuracy: 0.7579 - lr: 2.8184e-05
Epoch 71/100
750/750 [==============================] - 8s 11ms/step - loss: 1.0509 - accuracy: 0.7596 - lr: 3.1623e-05
Epoch 72/100
750/750 [==============================] - 6s 9ms/step - loss: 1.1141 - accuracy: 0.7606 - lr: 3.5481e-05
Epoch 73/100
750/750 [==============================] - 5s 7ms/step - loss: 1.2199 - accuracy: 0.7622 - lr: 3.9811e-05
Epoch 74/100
750/750 [==============================] - 5s 7ms/step - loss: 1.2514 - accuracy: 0.7624 - lr: 4.4668e-05
Epoch 75/100
750/750 [==============================] - 6s 8ms/step - loss: 1.3215 - accuracy: 0.7639 - lr: 5.0119e-05
Epoch 76/100
750/750 [==============================] - 7s 9ms/step - loss: 1.3974 - accuracy: 0.7651 - lr: 5.6234e-05
Epoch 77/100
750/750 [==============================] - 5s 7ms/step - loss: 1.4757 - accuracy: 0.7659 - lr: 6.3096e-05
Epoch 78/100
750/750 [==============================] - 5s 7ms/step - loss: 1.5254 - accuracy: 0.7667 - lr: 7.0795e-05
Epoch 79/100
750/750 [==============================] - 5s 7ms/step - loss: 1.6094 - accuracy: 0.7681 - lr: 7.9433e-05
Epoch 80/100
750/750 [==============================] - 5s 7ms/step - loss: 1.6688 - accuracy: 0.7682 - lr: 8.9125e-05
Epoch 81/100
750/750 [==============================] - 6s 7ms/step - loss: 1.8049 - accuracy: 0.7711 - lr: 1.0000e-04
Epoch 82/100
750/750 [==============================] - 5s 7ms/step - loss: 1.7839 - accuracy: 0.7675 - lr: 1.1220e-04
Epoch 83/100
750/750 [==============================] - 6s 8ms/step - loss: 1.8097 - accuracy: 0.7643 - lr: 1.2589e-04
Epoch 84/100
750/750 [==============================] - 8s 11ms/step - loss: 1.8142 - accuracy: 0.7694 - lr: 1.4125e-04
Epoch 85/100
750/750 [==============================] - 6s 8ms/step - loss: 1.8222 - accuracy: 0.7683 - lr: 1.5849e-04
Epoch 86/100
750/750 [==============================] - 5s 7ms/step - loss: 1.8985 - accuracy: 0.7677 - lr: 1.7783e-04
Epoch 87/100
750/750 [==============================] - 5s 7ms/step - loss: 1.8763 - accuracy: 0.7665 - lr: 1.9953e-04
Epoch 88/100
750/750 [==============================] - 5s 7ms/step - loss: 2.0005 - accuracy: 0.7623 - lr: 2.2387e-04
Epoch 89/100
750/750 [==============================] - 5s 7ms/step - loss: 1.9110 - accuracy: 0.7663 - lr: 2.5119e-04
Epoch 90/100
750/750 [==============================] - 5s 7ms/step - loss: 1.8398 - accuracy: 0.7637 - lr: 2.8184e-04
Epoch 91/100
750/750 [==============================] - 5s 7ms/step - loss: 1.7832 - accuracy: 0.7613 - lr: 3.1623e-04
Epoch 92/100
750/750 [==============================] - 5s 7ms/step - loss: 1.4998 - accuracy: 0.7361 - lr: 3.5481e-04
Epoch 93/100
750/750 [==============================] - 5s 7ms/step - loss: 1.0639 - accuracy: 0.6966 - lr: 3.9811e-04
Epoch 94/100
750/750 [==============================] - 5s 7ms/step - loss: 0.7953 - accuracy: 0.7238 - lr: 4.4668e-04
Epoch 95/100
750/750 [==============================] - 5s 7ms/step - loss: 0.6672 - accuracy: 0.7616 - lr: 5.0119e-04
Epoch 96/100
750/750 [==============================] - 5s 7ms/step - loss: 0.5945 - accuracy: 0.7681 - lr: 5.6234e-04
Epoch 97/100
750/750 [==============================] - 5s 7ms/step - loss: 0.5765 - accuracy: 0.7703 - lr: 6.3096e-04
Epoch 98/100
750/750 [==============================] - 5s 7ms/step - loss: 0.5375 - accuracy: 0.7758 - lr: 7.0795e-04
Epoch 99/100
750/750 [==============================] - 5s 7ms/step - loss: 0.5599 - accuracy: 0.7760 - lr: 7.9433e-04
Epoch 100/100
750/750 [==============================] - 5s 7ms/step - loss: 0.5281 - accuracy: 0.7787 - lr: 8.9125e-04

In [ ]:
# Define the learning rate array
lrs = 1e-8 * (10 ** (np.arange(100) / 20))

# Set the figure size
plt.figure(figsize=(10, 6))

# Set the grid
plt.grid(True)

# Plot the loss in log scale
plt.semilogx(lrs, history.history["loss"])

# Increase the tickmarks size
plt.tick_params('both', length=10, width=1, which='both')

# Set the plot boundaries
plt.axis([1e-8, 1e-3, 0, 100])

## Train the model

In [ ]:
# Reset states generated by Keras
tf.keras.backend.clear_session()

# Reset the weights
model.set_weights(init_weights)

# Set the learning rate
learning_rate = 8e-7

In [ ]:
model.compile(loss = tf.keras.losses.BinaryCrossentropy(),
                      optimizer = tf.keras.optimizers.Adam(learning_rate=learning_rate),metrics=['accuracy'])

In [ ]:
history = model.fit(train_features, train_labels, epochs=10)

In [46]:
model.evaluate(test_features, test_labels)

188/188 [==============================] - 4s 20ms/step - loss: 1.0459

1.0458765029907227